:root {
    --sidebar-width: 420px;
    --spacing: 1rem;
    --dark-grey: #4a4a4a;
    --light-grey: #cdcdd5;
    --white: #ffffff;
    --light-yellow: #f6d59c;
    --dark-blue-accent:#083962;
    --cream-accent: #f6d59c;
    --red: #cd5a5a;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Kulim Park';
    background-color: var(--white);
}

input:focus,
button:focus {
  outline: none;
}

.grid-container {
    display: grid;
    height: 100vh;

    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-areas: "sidebar main";
}

/*SIDEBAR*/
.sidebar {
    grid-area: sidebar;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    background-color: var(--dark-grey);
    color: var(--light-grey);
}

.logo {
    font-size: 3rem;
    width: 100%;
    text-align: center;
    color:#d5ac4a;
    border-bottom: var(--light-yellow) solid 2px;
    padding-bottom: 0.5rem;
}

/*INPUT FORM*/
.library-input {
    border: var(--light-yellow) solid 2px;
    padding: 1rem;
}

.input-block {
    position: relative;
}

.placeholder {
    position: absolute;
    margin: 17px 0px;
    left: 0;

    transition: all 0.3s;
    transform-origin: 0% 0%;
    pointer-events: none;
}

input:valid + .placeholder,
input:focus + .placeholder {
    transform: scale(0.8) translateY(-30px);
}

.input-block input:focus {
    border-bottom: var(--white) solid 2px !important;
}

#book-title, #book-author, #book-pages {
    width: 100%;
    padding: 15px 0px 5px 0px;
    background-color: var(--dark-grey);
    border: none;
    border-bottom: var(--light-yellow) solid 2px;
}

.validation-block {
    height: 3rem;
}

.validation-text {
    display: none;
    margin: 0;
    font-size: 0.8rem;
    color: var(--red);
}

.status-checkbox {
    display: grid;
    grid-template-columns: min-content auto;
    gap: .25rem;
}

#status-check {
    width: 1rem;
    height: 1rem;
}

button#submit-book {
    appearance: none;
    /* safari */
    -webkit-appearance: none;
    /* other styles */
    width: 100%;
    font-size: 1.25rem;
    padding: 1rem .5rem;
    border: var(--light-yellow) solid 2px;
    border-radius: .25rem;
    margin-top: 2rem;
    background-color: var(--dark-grey);
    color: var(--light-grey);
    cursor: pointer;
}

/*TABLE SECTION*/
.library {
    grid-area: main;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.library-info {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-bottom: 2rem;
    padding: 0 1.5rem;
    font-size: 1.5rem;
    gap: 3rem;
}

.delete-all {
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
}
/*TABLE HEADER*/
.book-list {
    width: 70%;
    border-collapse: collapse;
}

.book-list td {
    padding: 25px;
    text-align: center;
}

.requirements {
    background-color: var(--dark-blue-accent);
    color: var(--cream-accent);
}

/*BOOK INFORMATION POPULATED IN JS*/
.book-info {
    border-bottom: 2px solid black;
}

.status-symbol {
    height: 1rem;
    width: auto;
    cursor: pointer;
}

.delete-book {
    height: 1.5rem;
    width: auto;
    cursor: pointer;
}

/*CONFIRM DELETE ALL MODAL*/
#modal {
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-card {
    position: relative;
    margin: auto;
    width: 30%;
    border: 2px solid var(--blue);
    border-radius: 2px;
    box-shadow: rgb(46, 46, 46, 0.2) 0px 2px 8px 0px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-blue-accent);
    color: var(--white);
}
  
.modal-header h2 {
    margin: 0;
    padding: 20px;
}
  
.modal-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--white);
}
  
.modal-options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.cancel-removal {
    border: none;
    background-color: transparent;
    color: var(--dark-blue-accent);
}
  
.confirm-removal {
    height: 40px;
    margin-left: 15px;
    padding: 0 10px;
    background-color: var(--red);
    color: var(--white);
    border: 1px solid var(--red);
    border-radius: 2px;
    transition: 0.3s;
}

/*FOOTER SECTION*/
.footer {
    padding-bottom: .5rem;
}